extends base
- load staticfiles
- load reader_tags
- load article_tags


- block include
script(src="{% static 'django_ajax/js/jquery.ajax.min.js' %}")
- endblock
- block content


.container
	.row
		.col-sm-3
			- show_reader_dashboard
		.col-sm-8
			div.header
				.panel.panel-info
					.panel-heading
						h3.panel-title Post an article
					.panel-body
						form(method="POST", action="{% url 'post_article' %}")
							- csrf_token
							div.input-group
								input.form-control(name="url", type="url", placeholder="http://yoururl....", required="true")
								span.input-group-btn
									button.btn.btn-info(type="submit") Post!
			- list_articles articles
								


- endblock