extends base
- load thumbnail
- load staticfiles
- load reader_tags
- load article_tags

- block include
script(src="{% static 'django_ajax/js/jquery.ajax.min.js' %}")
- endblock
- block content

.container
	.row
		.col-sm-3
			if reader != user
				- show_reader_dashboard
			else
				.panel.panel-default
					.panel-heading
						h3.panel-title.text-center Edit profile
					.panel-body
						ul.nav.nav-tabs(style="margin-bottom: 15px;")
							li.active
								a(href="#general", data-toggle="tab", style="font-size: 12px;") General
							li
								a(href="#password", data-toggle="tab", style="font-size: 12px;") Password
							li
								a(href="#avatar", data-toggle="tab", style="font-size: 12px;") Avatar
						form(method="POST", action="{% url 'edit_profile' %}", enctype="multipart/form-data")
							div#myTabContent.tab-content
								- csrf_token
								div#general.tab-pane.fade.active.in
									input.form-control(name="first_name", type="text", placeholder="First name", value="{{ form.first_name.value }}")
									input.form-control(name="last_name", type="text", placeholder="Last name", value="{{ form.last_name.value }}")
									textarea.form-control(name="bio", style="resize: vertical;", rows="4", placeholder="Bio") {{ form.bio.value }}
									button.btn.btn-info(style="margin-top: 5px", type="submit") Submit
								
								div#password.tab-pane.fade
									input.form-control(name="new_password", type="password", placeholder="New password")
									button.btn.btn-info(style="margin-top: 5px;", type="submit") Submit
								
								div#avatar.tab-pane.fade
									input.form-control(name="avatar", type="file", style="") Upload
									button.btn.btn-info(style="margin-top: 5px;", type="submit") Submit

		.col-sm-8
			.well
				center
					a(href="#aboutModal", data-toggle="modal", data-target="#myModal")
						- thumbnail reader.avatar "140x140" crop="center" as im
						img(src="{{ im.url }}", name="aboutme", width="140", height="140", class="img-circle")
						- endthumbnail
					br
					span.lead {{ reader.get_full_name }}
					br
					p @{{ reader }}
					if user != reader and user.is_authenticated
						button.btn.btn-info(type="button", id="follow_{{reader.id}}", onclick="follow_reader({{ reader.id }}); return false;")
							if reader in user.following.all
								span Unfollow
							else
								span Follow
				hr
				.row.text-center
					.col-lg-4
						a(href="#", data-toggle="modal", data-target="#readerFollowersModal")
							span.lead.text-success {{ reader.followers.count }}
					.col-lg-4
						span.lead.text-warning {{ reader.articles.count }}
					.col-lg-4
						a(href="#", data-toggle="modal", data-target="#readerFollowingModal")
							span.lead.text-info {{ reader.following.count }}
				.row.text-center
					.col-lg-4
						span.text-success followers
					.col-lg-4
						span.text-warning articles
					.col-lg-4
						span.text-info following

			.modal.fade(id="myModal" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
				.modal-dialog(style="background-color: #FFFFFF")
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
						h4.modal-title(id="myModalLabel") More About {{ reader }}
					.modal-body
						center
							- thumbnail reader.avatar "140x140" crop="center" as im
							img(src="{{ im.url }}", name="aboutme", width="140", height="140", border="0", class="img-circle")
							- endthumbnail
							h3.media-heading {{ reader.get_full_name }}
						hr
						center
							p.text-left {{ reader.bio }}
					.modal-footer
						center
							button.btn.btn-default(type="button", data-dismiss="modal") Thats enough about @{{ reader }}

			.modal.fade(id="readerFollowersModal" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
				.modal-dialog(style="background-color: #FFFFFF")
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
						h4.modal-title Followers
					.modal-body
						.list-group
							for follower in reader.followers.all
								a.list-group-item(href="{% url 'profile' follower.username %}") @ {{ follower }}

			.modal.fade(id="readerFollowingModal" tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
				.modal-dialog(style="background-color: #FFFFFF")
					.modal-header
						button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
						h4.modal-title Following
					.modal-body
						.list-group
							for following in reader.following.all
								a.list-group-item(href="{% url 'profile' following.username %}") @ {{ following }}
			- list_articles reader.articles.all

- endblock
- block footer
script(type="text/javascript", src="{% static 'js/ajax.js' %}")
- endblock